## Project guidelines

- This project is using the latest TypeScript, next.js 15 (App Router) with the new React server components RSC.
- To link between server services located in `server/services` and either client components or server components RSCs we use server actions located in `action.ts` with `'use server'` directive. We can have multiple server actions in the same file. We can have multiple server actions files.
- For styling UI/UX we use Tailwind.
- For database we use Supabase with <Database> type located in @/types/supabase.ts.
- For Authentication we use also use Supabase Auth.
- For storage we use Supabase Storage buckets.
- write code without useless comments, write self explanatory code.
- please make sure to remove all unused code and files.
- when using searchparams or params, make sure to use the correct type for the searchparams or params like this example export default async function Page({
  searchParams,
}: {
  searchParams: Promise<{ [key: string]: string | string[] | undefined }>
}) {
  const filters = (await searchParams).filters
}
- when uploading a picture, make sure to upload it to the `vehicules_pictures` bucket and not to the `vehicles` table.
  

## Project structure

These are my current files. Please make sure to update .cursorrules file when you add or remove files and folders to always reflect the current project structure.

.
|-- .cursorrules
|-- .env.local
|-- .gitignore
|-- README.md
|-- app
|   |-- auth
|   |-- components
|   |   |-- dashboard
|   |   |   |-- new-check-in-button.tsx
|   |   |   `-- stats-cards.tsx
|   |   |-- new-check-in
|   |   |   `-- vehicle-check-in-form.tsx
|   |   |-- sidebar.tsx
|   |   `-- vehicle-history
|   |       |-- search-bar.tsx
|   |       `-- vehicle-list.tsx
|   |-- dashboard
|   |   `-- page.tsx
|   |-- error
|   |   `-- page.tsx
|   |-- globals.css
|   |-- layout.tsx
|   |-- login
|   |   |-- action.ts
|   |   |-- login-form.tsx
|   |   `-- page.tsx
|   |-- new-check-in
|   |   `-- page.tsx
|   |-- page.tsx
|   `-- vehicle-history
|       `-- page.tsx
|-- eslint.config.mjs
|-- middleware.ts
|-- next-env.d.ts
|-- next.config.ts
|-- package-lock.json
|-- package.json
|-- postcss.config.mjs
|-- server
|   |-- services
|   |   |-- pictures.ts
|   |   `-- users.ts
|   `-- supabase
|       |-- .gitignore
|       |-- .temp
|       |   `-- cli-latest
|       |-- client.ts
|       |-- config.toml
|       |-- middleware.ts
|       `-- server.ts
|-- supabase
|   |-- .temp
|   |   `-- cli-latest
|   `-- migrations
|-- tailwind.config.ts
|-- tsconfig.json
`-- types
    `-- supabase.ts
